[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "==2.11.*"
wheel = "*"
packaging = "*"
requests = "*"
opt-einsum = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
